<!DOCTYPE html>
<html>
<head>
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
</head>
<body>
	<div class="content">
		<div class="form">
			<h1>Cadastro</h1>
			<form action='registeraction' method="post">
				<label>
					Name:
					<input type="text" name="name">
				</label>
				<label> 
					Email:
					<input type="text" name="email">
				</label>
				<label> 
					Password:			
					<input type="password" name="password"> 
				</label>
				<input type="submit" name="Enviar">
			</form>
		</div>
	</div>
</body>
</html>