<!DOCTYPE html>
<html>
<head>
	<title>Editar Cliente</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
</head>
<body>
	{% include 'menu.html' %}
    {% if customer%}
	<div class="content">
		<div class="form">
			<h1>Editar cliente</h1>
			<form action='/editcustomeraction' method="post">
				<label> Nome:
					<input type="text" name="name" value="{{customer.name}}">
				</label>
				<label> Data de Nascimento:
					<input type="date" name="date_birth" value="{{customer.date_birth}}">
				</label>
				<label> CPF:
					<input type="text" name="cpf" value="{{customer.cpf}}">
				</label>
				<label> Rg:
					<input type="text" name="rg" value="{{customer.rg}}">
				</label>
				<label> Telefone:
					<input type="text" name="phone" value="{{customer.phone}}">
				</label>
                <input type="hidden" name="id" value="{{customer.id}}">
				<input type="submit" name="Enviar">
			</form>
		</div>
	</div>
    {% endif %}
</body>
</html>