<!DOCTYPE html>
<html>
<head>
	<title>Editar Cliente</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>
</head>
<body>
	{% include 'menu.html' %}

	<div class="container">
		<div class="row">
			<div class="content col-md-8">
				<div class="form">
					<h1>Novo endereço</h1>
					<form action='/newaddressaction' method="post">
						<label> Rua:
							<input type="text" name="street">
						</label>
						<label> Bairro:
							<input type="text" name="district">
						</label>
						<label> Cidade:
							<input type="text" name="city">
						</label>
						<label> Estado:
							<input type="text" name="state">
						</label>
						<label> País:
							<input type="text" name="country">
						</label>
		                <input type="hidden" name="customer_id" value="{{customer_id}}">
						<input type="submit" name="Enviar">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>